# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
env/

# Environment variables
.env

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / Output
build/
dist/
*.egg-info/
